<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
</head>
<body  ontouchstart>

<div class="weui-panel" >
    <div class="weui-panel__hd" style="text-align: center">
        <a  href="javascript:;" onclick=" history.back(-1)">
            <span class="icon icon-109 " style="font-size: 18px"></span>申请设备</a>
    </div>

</div>
</body>
<!--jquery-->
<script th:src="@{../js/jquery.min.js}"  ></script>
<script th:src="@{../weui/js/zepto.weui.js}"></script>
<script th:inline="javascript">

</script>
</html>