<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
</head>
<body  ontouchstart>
<div class="weui-panel" >
    <div class="weui-panel__hd" style="text-align: center">
        <a  href="javascript:;" onclick=" history.back(-1)">
            <span class="icon icon-109 " style="font-size: 18px"></span>帮助了解</a>
    </div>
</div>
<div class="page-bd" >
    <ul class="collapse">
        <li><div class="weui-flex js-category" >
            <div class="weui-flex__item" >如何添加设备</div>
            <i class="icon icon-74"></i>
        </div>
            <div class="page-category js-categoryInner">

                <div class="weui-cells page-category-content">
                    <p class="content">
                        1、企业管理员从硬件服务商的线上渠道、线下渠道进行购买硬件设备。<br/>
                        2、【企业微信手机端->工作台->企业管理->设备管理->添加】企业管理员进行硬件设备和企业微信的关联匹配（可用企业微信扫一扫、蓝牙、SN编码输入的三种方式）。<br/>
                        3、企业管理员确认绑定设备，并添加配套应用及选择配套应用的人员可见范围</p>
                </div></div>
        </li>
        <li><div class="weui-flex js-category" >
            <div class="weui-flex__item" >已扫描到设备但添加失败，如何处理</div>
            <i class="icon icon-74"></i>
        </div>
            <div class="page-category js-categoryInner">

                <div class="weui-cells page-category-content">
                    <p class="content">
                        可能原因如下:<br/>
                        1、手机当前连接的无线网络密码错误。<br/>
                        2、路由器开启了网络隐藏、MAC地址过滤、IP地址过滤、域名过滤等防蹭网功能。<br/>
                        3、手机连接的是无线网络是公共网络，公共网络下不支持添加设备。<br/>
                        4、如果尝试上述方法都无法添加成功，请通过以下操作反馈问题:【我的>问题与建议】，我们会尽快联系您处理。
                    </p>

                </div></div>
        </li>
        <li><div class="weui-flex js-category" >
            <div class="weui-flex__item" >管理员如何将设备分配给成员</div>
            <i class="icon icon-74"></i>
        </div>
            <div class="page-category js-categoryInner">

                <div class="weui-cells page-category-content">
                    <p class="content">
                        可能原因如下:<br/>
                        1、请打开无线局域网并连接WiFi,否则仅支持蓝牙。<br/>
                        2、确保智能设备已连接电源，且在手机附近。<br/>
                        3、询问管理员是否已卸载设备。<br/>
                        4、如果尝试上述方法都无法添加成功，请通过以下操作反馈问题:【我的>问题与建议】，我们会尽快联系您处理。
                    </p>

                </div></div>
        </li>
        <li><div class="weui-flex js-category" >
            <div class="weui-flex__item" >成员搜索不到设备，如何处理</div>
            <i class="icon icon-74"></i>
        </div>
            <div class="page-category js-categoryInner">

                <div class="weui-cells page-category-content">
                    <p class="content">
                        可能原因如下:<br/>
                        1、请打开无线局域网并连接WiFi,否则仅支持蓝牙。<br/>
                        2、确保智能设备已连接电源，且在手机附近。<br/>
                        3、询问管理员是否已卸载设备。<br/>
                        4、如果尝试上述方法都无法添加成功，请通过以下操作反馈问题:【我的>问题与建议】，我们会尽快联系您处理。
                    </p>

                </div></div>
        </li>
    </ul>
</div>
</body>
<!--jquery-->
<script th:src="@{../js/jquery.min.js}"  ></script>
<script>
    $(function(){
        $('.collapse .js-category').click(function(){
            $parent = $(this).parent('li');
            if($parent.hasClass('js-show')){
                $parent.removeClass('js-show');
                $(this).children('i').removeClass('icon-35').addClass('icon-74');
            }else{
                $parent.siblings().removeClass('js-show');
                $parent.addClass('js-show');
                $(this).children('i').removeClass('icon-74').addClass('icon-35');
                $parent.siblings().find('i').removeClass('icon-35').addClass('icon-74');
            }
        });
    })
</script>
</html>