<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
</head>
<body   >
<div style="position: relative;">
    <div id="bzleft" style="width: 40%;float: left;margin-top: 10px;margin-left: 0px;">
        <a href="javascript:;" onclick="$S.fhui()" >
            <span class="icon icon-109 left10" ></span><span >返回</span>
        </a>
    </div>
<div style="text-align: center;width: 100%;margin-top: 30%;position: absolute;">
    <div >
        <span  class="image13" ></span>
    </div>
    <p style="font-size: 20px">在电脑上登录金储智能</p>
    <input  id="kao" style="font-size: 15px;color: blanchedalmond;text-align:center;background-color:#3074ef;width: 220px;border: 1px #3074ef solid;border-radius: 5px;" readonly="readonly" value="safe.jinchu.com.cn/web/v1/login">
    <div style="width:95%;height:1px; background:#E0E0E0;margin-top: 10px;margin-left: auto;margin-right: auto;margin-bottom: 10px"></div>
    <div >
        <span class="icon icon-99 " ></span><span >更方便查看各类数据</span>
    </div>
    <div  >
        <span class="icon icon-101 " ></span><span >更丰富的个性化设置</span>
    </div>
</div>
</div>
</body>
<!--jquery-->
<script th:src="@{../js/jquery.min.js}"  ></script>
<script th:src="@{../weui/js/zepto.weui.js}"></script>
<script th:src="@{../js/locks.js}" ></script>
<link th:href="@{../style/style.css}"  rel="stylesheet">
<script th:inline="javascript">
function fan() {
    setCookie("num","3");
    history.back(-1);
}
function Copy(str){
    var save = function(e){
        e.clipboardData.setData("text/plain", str);
        e.preventDefault();
    }
    document.addEventListener("copy", save);
    document.execCommand("copy");
    document.removeEventListener("copy",save);
    $.toast("复制成功！");
}

// $("#kao").on("click",function(){
//     Copy("safe.jinchu.com.cn/web/v1/login");
// });
</script>
</html>