<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
</head>
<body  ontouchstart>
<div class="weui-panel" >
    <div class="weui-panel__hd" style="text-align: center">
        <a href="javascript:;" onclick=" history.back(-1)">
            <span class="icon icon-109 " style="font-size: 18px"></span>模拟体验</a>
    </div>
</div>
<div class="weui-tab" id="t1" >
    <div class="weui-navbar">
        <div class="weui-navbar__item">
            智能门禁
        </div>
        <div class="weui-navbar__item">
            智能挂锁
        </div>
        <div class="weui-navbar__item">
            保险柜锁
        </div>
    </div>
    <div class="weui-tab__panel">
        <div id="d0" class="weui-tab__content">
            <div class="show" style="position:relative;">
                <div id="doorBox" class="door-box">
                    <div class="wall">
                        <div class="door-border">
                            <div class="door-frame">
                                <!-- 左门 -->
                                <div class="door door-left">
                                    <!-- 门后 -->
                                    <div class="door-face-0"></div>

                                </div>
                                <!-- 右门 -->
                                <div class="door door-right">
                                    <!-- 门后 -->
                                    <div class="door-face-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: -200px;margin-left: 71%;position: absolute;">
                  <span id="image12" class="tupian"></span>
                </div>
            </div>
            <div class="weui-grids" style="margin-top: 50px;">
                <a href="javascript:;" class="weui-grid" onclick="kaimen()" >
                    <div class="weui-grid__icon" style="width: 50px;height: 50px;border: 1px #555 solid;border-radius: 50%">
                        <span id="image3" class="tupian"></span>
                    </div>
                    <p class="weui-grid__label" style="color: #555">
                        按键开锁
                    </p>
                </a>
                <a href="javascript:;" class="weui-grid "   onclick="saoma()">
                    <div class="weui-grid__icon" style="width: 50px;height: 50px;border: 1px #555 solid;border-radius: 50%">
                        <span id="image10" class="tupian"></span>
                    </div>
                    <p class="weui-grid__label"  style="color: #555">
                        扫码开锁
                    </p>
                </a>
                <a href="javascript:;" class="weui-grid "  onclick="shualian()">
                    <div class="weui-grid__icon" style="width: 50px;height: 50px;border: 1px #555 solid;border-radius: 50%">
                        <span id="image11" class="tupian"></span>
                    </div>
                    <p class="weui-grid__label"  style="color: #555">
                        刷脸开锁
                    </p>
                </a>
            </div>
            <div id="saoma" style="margin-top: -255px;margin-left: 70%;height: 150px"></div>
        </div>
        <div id="d1" class="weui-tab__content">
            开发中
        </div>
        <div id="d2" class="weui-tab__content">
            开发中
        </div>
    </div>
</div>

</body>
<!--jquery-->
<script th:src="@{../js/jquery.min.js}"  ></script>
<script th:src="@{../weui/js/zepto.weui.js}"></script>
<script th:src="@{../lottie/lottie.js}" ></script>
<script>
    $(function(){
    $('#t1').tab({
        defaultIndex: 0,
        activeClass: 'tab-green',
        onToggle: function (index) {
            if(index==0){

            }else if(index==1){

            }
        }
    })
    })
    //开门特效
    function kaimen() {
        $("#saoma").empty();
        bodymovin.loadAnimation({
            path:'../lottie/appopen.json',   //json文件路径
            loop:true,
            autoplay:true,
            renderer:'svg',  //渲染方式，有"html"、"canvas"和"svg"三种
            container:document.getElementById('saoma')
        });
        var eleDoorBox = document.getElementById('doorBox');
        eleDoorBox.classList.add('open');
        setTimeout(function(){ eleDoorBox.classList.remove('open'); $("#saoma").empty(); }, 2000);
    }
    //扫码开锁特效
    function saoma() {
        $("#saoma").empty();
        bodymovin.loadAnimation({
            path:'../lottie/saoma.json',   //json文件路径
            loop:true,
            autoplay:true,
            renderer:'svg',  //渲染方式，有"html"、"canvas"和"svg"三种
            container:document.getElementById('saoma')
        });
        var eleDoorBox = document.getElementById('doorBox');
        eleDoorBox.classList.add('open');
        setTimeout(function(){ eleDoorBox.classList.remove('open'); $("#saoma").empty();}, 2000);

    }
    //刷脸开锁特效
    function shualian() {
        $("#saoma").empty();
        bodymovin.loadAnimation({
            path:'../lottie/shua.json',   //json文件路径
            loop:true,
            autoplay:true,
            renderer:'svg',  //渲染方式，有"html"、"canvas"和"svg"三种
            container:document.getElementById('saoma')
        });
        var eleDoorBox = document.getElementById('doorBox');
        eleDoorBox.classList.add('open');
        setTimeout(function(){ eleDoorBox.classList.remove('open'); $("#saoma").empty();}, 2000);

    }
</script>
</html>