<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="huaban" content="nopin">
    <meta name="csrf-token" content="">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <link rel="shortcut icon " type="images/x-icon"  th:href="@{/static/image/logo.png}" >
    <title>控制中心</title>
    <link th:href="@{/static/bootstrap/css/bootstrap-min.css}"  rel="stylesheet">
    <link th:href="@{/static/bootstrap/css/bootstrap-table.min.css}" rel="stylesheet" />
    <link th:href="@{/static/web/css/console.css}"  rel="stylesheet">
</head>
<body id="app-layout">
<div class="spark-screen relative">
    <div class="">
        <div  class="setting-header">
            <div  class="setting-container clearfix">
                <div  style="float: left;margin-top: 10px;margin-left: 40px;cursor: pointer;font-weight: 700;">胖哼智能</div>
                <span  class="page-tag" style="margin-top: 10px;">管理中心</span>

                <div  lxref="header-mini" style="cursor:pointer" class=" nav-personal right ">
                    <a   th:href="@{/web/v1/index}" >
                        <span  class="page-tag" >返回</span>
                    </a>
                </div>
                <div  lxref="header-mini"  style="float: right;margin-right: 5px;margin-top: 11px;font-weight: 100;">
                    <span  th:text="${session.sessionInfo.loginId}" ></span>
                </div>
            </div>
        </div>
        <div class="setting-container clearfix">
            <div class="block-container sidebar">
                <ul  class="menu">
                    <li >
                        <a  th:href="@{/web/customer/shou}"  class="primary-item ">
                            <span >
                                <span  class="bg-sprites menu-icon home">
                                </span>首页</span>
                        </a>
                    </li>
                    <li >
                        <div  class="primary-item active" ONCLICK="openfenxi('shebei','fen')">
                            <span  id="fen" class="bg-sprites toggle-icon down"></span>
                            <span ><span  class="bg-sprites menu-icon analyse">
                            </span>设备管理
                            </span>
                        </div>
                        <ul  id="shebei" class="secondary-list " >
                            <li >
                                <a  th:href="@{/web/customer/lock}" class="secondary-item active">
                                    <span >设备信息</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <div  class="primary-item" ONCLICK="openfenxi('yichang','fen')">
                            <span  id="fen3" class="bg-sprites toggle-icon down"></span>
                            <span ><span  class="bg-sprites menu-icon teams">
                            </span>日志管理
                            </span>
                        </div>
                        <ul  id="yichang" class="secondary-list" style="display: none">
                            <li >
                                <a  th:href="@{/web/customer/log}" class="secondary-item ">
                                    <span >操作日志</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <div  class="primary-item" ONCLICK="openfenxi('jiankong','fen')">
                            <span  id="fen4" class="bg-sprites toggle-icon down"></span>
                            <span ><span  class="bg-sprites menu-icon operate">
                            </span>监控管理
                            </span>
                        </div>
                        <ul  id="jiankong" class="secondary-list" style="display: none">
                            <li >
                                <a  th:href="@{/web/customer/jian}" class="secondary-item">
                                    <span >设备监控</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class=" block-container main" style="min-height: 0px">
                <div >
                    <div class="row ">
                        <div class="col-sm-12">
                            <div style="padding: 10px 0px 10px 0px;line-height: 40px;font-size: 25px;">
                                <div class="title">设备信息</div>
                            </div>
                            <div >
                                <table id="table" ></table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="typeXq" role="dialog">
            <div class="temp-custom-modal-wrap">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content temp-custom-modal-content" >
                        <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                        <div class="modal-body temp-custom-modal-body">
                            <div class="temp-login-form-wrapper">
                                <div class="row custom-row">
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                        <p>设备类型详情</p>
                                    </div>
                                </div>
                                <div  class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="sbtype1" class="col-sm-2 control-label">设备型号:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="sbtype1" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="deviceSn1" class="col-sm-2 control-label">设备sn:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="deviceSn1" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">设备名称:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="name" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mac1" class="col-sm-2 control-label">设备蓝牙:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="mac1" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="secretNo" class="col-sm-2 control-label">secretNo:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="secretNo" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="deviceId" class="col-sm-2 control-label">deviceId:</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control"  id="deviceId" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="qrCode" class="col-sm-2 control-label">二维码:</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control"  id="qrCode" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="status" class="col-sm-2 control-label">是否激活:</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control"  id="status" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="createdatetime" class="col-sm-2 control-label">创建时间:</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control"  id="createdatetime" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastupdatetime" class="col-sm-2 control-label">激活时间:</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control"  id="lastupdatetime" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="loginid" class="col-sm-2 control-label">绑定用户:</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control"  id="loginid" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="corpname" class="col-sm-2 control-label">绑定企业:</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control"  id="corpname" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="battery" class="col-sm-2 control-label">电池电量:</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control"  id="battery" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="xstp" class="col-sm-2 control-label">产品图片:</label>
                                            <div class="col-sm-10">
                                                <div class="app_screenShot_list_item">
                                                    <img src=""  class=\"app_screenShot_list_img\" onerror="javascript:this.src='/static/imgage/chaoshi.png';" id="xstp">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/static/web/js/jquery.min.js}"  ></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}" ></script>
<script th:src="@{/static/bootstrap/js/bootstrap-table.min.js}" ></script>
<script th:src="@{/static/bootstrap/js/bootstrap-table-zh-CN.min.js}" ></script>
<script  th:inline="javascript">
    $(function () {
        var height=document.body.clientHeight;
        $(".sidebar ").css("min-height",height-240);
        $(".main ").css("min-height",height-240);

        getLangTable();
    })
    /**
     * 设备列表
     */
    function  getLangTable(){
        var table=$("#table").bootstrapTable({ // 对应table标签的id
            url: "/web/lock/list", // 获取表格数据的url
            cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
            striped: true,  //表格显示条纹，默认为false
            pagination: true, // 在表格底部显示分页组件，默认false
            pageNumber: 1, // 首页页码
            pageSize: 100, // 页面数据条数
            pageList: [100, 200, 300, 400,500],        //可供选择的每页的行数（*）
            smartDisplay:false,
            sidePagination: 'server', // 设置为服务器端分页server,client
            sortName: 'updatedate', // 要排序的字段
            sortOrder: 'desc', // 排序规则
            idField: "id",
            cardView: false, //是否显示详细视图
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                return {
                    rows: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1,   //页码
                    sort: params.sort,      //排序列名
                    order: params.order, //排位命令（desc，asc）
                    corpid:[[${session.sessionInfo.corpids}]]
                }
            },
            columns: [
                {title : 'No',
                    align: "center",
                    width: 60,
                    formatter: function (value, row, index) {
                        //获取每页显示的数量
                        var pageSize=$('#table').bootstrapTable('getOptions').pageSize;
                        //获取当前是第几页
                        var pageNumber=$('#table').bootstrapTable('getOptions').pageNumber;
                        //返回序号，注意index是从0开始的，所以要加上1
                        return pageSize * (pageNumber - 1) + index + 1;
                    }
                },
                {
                    field: 'modelId',
                    title: '设备型号',
                    align: 'center',
                    valign: 'middle',
                }, {
                    field: 'deviceSn',
                    title: '设备sn',
                    align: 'center',
                    valign: 'middle'
                }, {
                    field: 'status',
                    title: '是否激活',
                    align: 'center',
                    valign: 'middle',
                    formatter : function(value, row, index) {
                        if(value==true){
                            return "<span style='color:#008dfc'>已激活</span>";
                        }else {
                            return "<span style='color:red'>未激活</span>";
                        }
                    }
                },  {
                    field: 'connect',
                    title: '网络是否连接',
                    align: 'center',
                    valign: 'middle',
                    formatter : function(value, row, index) {
                        if(value==true){
                            return "<span style='color:#008dfc'>已连接</span>";
                        }else {
                            return "<span style='color:red'>未连接</span>";
                        }
                    }
                }, {
                    field: 'loginid',
                    title: '激活用户',
                    align: 'center',
                    valign: 'middle',
                    formatter : function(value, row, index) {
                        if(value==""||value==null){
                            return "<span style='color:red'>暂无</span>";
                        }else {
                            return "<span style='color:#008dfc'>"+value+"</span>";
                        }
                    }
                },
                {
                    field : 'action',
                    title : '操作',
                    align: 'center',
                    valign: 'middle',
                    formatter : function(value, row, index) {
                        var str="";
                        str += formatString('<a href="javascript:void(0)"  onclick="openXq(\'{0}\');" > <span class=\"blue ml-m pointer\">详情</span></a><a target=\"_blank\" href="/web/lock/creatRrCode?id='+row.id+'" > <span class=\"blue ml-m pointer\">卸载</span></a>', row.id);
                        return str;
                    }
                }
            ],
            onLoadSuccess: function(){  //加载成功时执行
                console.info("加载成功");
            },
            onLoadError: function(){  //加载失败时执行
                console.info("加载数据失败");
            },
            onClickRow:function (row,$element) {
            }

        });
    }
    /**
     * 查看详情
     */
    function openXq(id){
        $.post('/web/lock/get', {
            id:id
        },function(result) {
            if (result.code==200) {
                $("#typeXq").modal();
                $("#sbtype1").val(result.data.modelId);
                $("#deviceSn1").val(result.data.deviceSn);
                $("#name").val(result.data.name);
                $("#mac1").val(result.data.mac);
                $("#secretNo").val(result.data.secretNo);

                $("#deviceId").val(result.data.deviceId);
                $("#qrCode").val(result.data.qrCode);
                $("#status").val(result.data.status==true?'已激活':'未激活');

                $("#createdatetime").val(result.data.createdatetime);
                $("#lastupdatetime").val(result.data.lastupdatetime);
                $("#loginid").val(result.data.loginid==null?'暂未绑定':result.data.loginid);

                $("#corpname").val(result.data.corpname==null?'暂未绑定':result.data.corpname);
                $("#battery").val(result.data.battery+"%");
                $("#xstp").attr("src",result.data.icon);
            }else{
                alert(result.message);
            }
        }, 'JSON');
    }
    /**
     * 格式化字符串
     */
    function formatString(str){
        for ( var i = 0; i < arguments.length - 1; i++) {
            str = str.replace("{" + i + "}", arguments[i + 1]);
        }
        return str;
    }

    /**
     * 点击导航
     */
    function openfenxi(id,obj){
        if($("#"+id+"").css("display")=="none"){
            $("#"+id+"").show();
            $("#"+obj+"").removeClass().addClass("bg-sprites toggle-icon up");
        }else {
            $("#"+id+"").hide();
            $("#"+obj+"").removeClass().addClass("bg-sprites toggle-icon down");
        }
    }
</script>

</body>
</html>
