<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="huaban" content="nopin">
    <meta name="csrf-token" content="">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <link rel="shortcut icon " type="images/x-icon"  th:href="@{/static/image/logo.png}" >
    <title>控制中心</title>
    <link th:href="@{/static/bootstrap/css/bootstrap-min.css}"  rel="stylesheet">
    <link th:href="@{/static/bootstrap/css/bootstrap-select.min.css}"  rel="stylesheet">
    <link th:href="@{/static/bootstrap/css/bootstrap-table.min.css}" rel="stylesheet" />
    <link th:href="@{/static/cdn/datetimepicker.css}" rel="stylesheet" />
    <link th:href="@{/static/web/css/console.css}"  rel="stylesheet">
</head>
<body id="app-layout">
<div class="spark-screen relative">
    <div class="">
        <div  class="setting-header">
            <div  class="setting-container clearfix">
                <div  style="float: left;margin-top: 10px;margin-left: 40px;cursor: pointer;font-weight: 700;">胖哼智能</div>
                <span  class="page-tag" style="margin-top: 10px;">管理中心</span>

                <div  lxref="header-mini" style="cursor:pointer" class=" nav-personal right ">
                    <a   th:href="@{/web/v1/index}" >
                        <span  class="page-tag" >返回</span>
                    </a>
                </div>
                <div  lxref="header-mini"  style="float: right;margin-right: 5px;margin-top: 11px;font-weight: 100;">
                    <span  th:text="${session.sessionInfo.loginId}" ></span>
                </div>
            </div>
        </div>
        <div class="setting-container clearfix">
            <div class="block-container sidebar">
                <ul  class="menu">
                    <li >
                        <a  th:href="@{/web/customer/shou}"  class="primary-item ">
                            <span >
                                <span  class="bg-sprites menu-icon home">
                                </span>首页</span>
                        </a>
                    </li>
                    <li >
                        <div  class="primary-item " ONCLICK="openfenxi('shebei','fen')">
                            <span  id="fen" class="bg-sprites toggle-icon down"></span>
                            <span ><span  class="bg-sprites menu-icon analyse">
                            </span>设备管理
                            </span>
                        </div>
                        <ul  id="shebei" class="secondary-list " style="display: none">
                            <li >
                                <a  th:href="@{/web/customer/lock}" class="secondary-item ">
                                    <span >设备信息</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <div  class="primary-item active" ONCLICK="openfenxi('yichang','fen')">
                            <span  id="fen3" class="bg-sprites toggle-icon down"></span>
                            <span ><span  class="bg-sprites menu-icon teams">
                            </span>日志管理
                            </span>
                        </div>
                        <ul  id="yichang" class="secondary-list" >
                            <li >
                                <a  th:href="@{/web/customer/log}" class="secondary-item active">
                                    <span >操作日志</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <div  class="primary-item" ONCLICK="openfenxi('jiankong','fen')">
                            <span  id="fen4" class="bg-sprites toggle-icon down"></span>
                            <span ><span  class="bg-sprites menu-icon operate">
                            </span>监控管理
                            </span>
                        </div>
                        <ul  id="jiankong" class="secondary-list" style="display: none">
                            <li >
                                <a  th:href="@{/web/customer/jian}" class="secondary-item">
                                    <span >设备监控</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class=" block-container main" style="min-height: 0px">
                <div >
                    <div class="row custom-row">
                        <div>
                            <p>日志类型：</p>
                        </div>
                        <div class="col-sm-1">
                            <select name="methodtype" id="methodtype" class="selectpicker" >
                                <option value="">请选择</option>
                                <option value="ADD">添加</option>
                                <option value="UPDATE">修改</option>
                                <option value="DEL">删除</option>
                                <option value="OPEN">开锁</option>
                                <option value="CONNECT">联网</option>
                            </select>
                        </div>
                        <div style="margin-left: 10px">
                            <p>调用用户：</p>
                        </div>
                        <div class="col-sm-2">
                            <input id="loginid" type="text" style="border-radius: 4px;" placeholder="模糊搜索用户登录id" class="form-control">
                        </div>
                        <div style="margin-left: 10px">
                            <p>开始日期：</p>
                        </div>
                        <div class='input-group date col-sm-2'  id='datetimepicker1'>
                            <input type='text' class="timeInput form-control" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                        </div>
                        <div style="margin-left: 10px">
                            <p>结束日期：</p>
                        </div>
                        <div class='input-group date col-sm-2' id='datetimepicker2'>
                            <input type='text' class="timeInput form-control" />
                            <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <button type="button" class="btn btn-primary " style="width: 80px;height: 40px; margin-left: 10px;" onclick="sousuo()">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
                        </button>
                        <button type="button" class="btn btn-default " style="width: 80px;height: 40px; margin-left: 10px;" onclick="rest()">
                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> 重置
                        </button>
                    </div>
                </div>
                <div >
                    <table id="table" ></table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="typeXq" role="dialog">
            <div class="temp-custom-modal-wrap">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content temp-custom-modal-content" >
                        <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                        <div class="modal-body temp-custom-modal-body">
                            <div class="temp-login-form-wrapper">
                                <div class="row custom-row">
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                        <p>日志详情</p>
                                    </div>
                                </div>
                                <div  class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="methodname" class="col-sm-2 control-label">日志标题:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="methodname" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="corpid" class="col-sm-2 control-label">企业id:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="corpid" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="loginid1" class="col-sm-2 control-label">登录id:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="loginid1" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sccess" class="col-sm-2 control-label">是否成功:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="sccess" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ip" class="col-sm-2 control-label">调用者ip:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="ip" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="createdate" class="col-sm-2 control-label">创建日期:</label>
                                            <div class="col-sm-10 ">
                                                <input class="form-control"  id="createdate" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="result" class="col-sm-2 control-label">返回结果:</label>
                                            <div class="col-sm-10 ">
                                                <textarea class="form-control" rows="3" id="result"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/static/web/js/jquery.min.js}"  ></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}" ></script>
<script th:src="@{/static/bootstrap/js/bootstrap-select.min.js}" ></script>
<script th:src="@{/static/bootstrap/js/bootstrap-table.min.js}" ></script>
<script th:src="@{/static/bootstrap/js/bootstrap-table-zh-CN.min.js}" ></script>
<script th:src="@{/static/cdn/locales.js}" ></script>
<script th:src="@{/static/cdn/datetimepicker.js}" ></script>
<script  th:inline="javascript">
    $(function () {
        var height=document.body.clientHeight;
        $(".sidebar ").css("min-height",height-240);
        $(".main ").css("min-height",height-240);


        var picker1 = $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD hh:mm:ss',
            locale: moment.locale('zh-cn'),
        });
        var picker2 = $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD hh:mm:ss',
            locale: moment.locale('zh-cn')
        });
        getLangTable();
    })
    /**
     * 设备列表
     */
    /**
     * 日志列表
     */
    function getLangTable(){
        var table=$("#table").bootstrapTable({ // 对应table标签的id
            url: "/web/log/list", // 获取表格数据的url
            cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
            striped: true,  //表格显示条纹，默认为false
            pagination: true, // 在表格底部显示分页组件，默认false
            pageNumber: 1, // 首页页码
            pageSize: 100, // 页面数据条数
            pageList: [100, 200, 300, 400,500],        //可供选择的每页的行数（*）
            smartDisplay:false,
            sidePagination: 'server', // 设置为服务器端分页server,client
            sortName: 'createdate', // 要排序的字段
            sortOrder: 'desc', // 排序规则
            idField: "id",
            cardView: false, //是否显示详细视图
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                return {
                    rows: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1,   //页码
                    sort: params.sort,      //排序列名
                    order: params.order, //排位命令（desc，asc）
                    methodtype:$("#methodtype").val(),
                    loginid:$("#loginid").val(),
                    datetimepicker1:$("#datetimepicker1").find("input").val(),
                    datetimepicker2:$("#datetimepicker2").find("input").val(),
                    corpid:[[${session.sessionInfo.corpids}]]
                }
            },
            columns: [
                {title : 'No',
                    align: "center",
                    width: 60,
                    formatter: function (value, row, index) {
                        //获取每页显示的数量
                        var pageSize=$('#table').bootstrapTable('getOptions').pageSize;
                        //获取当前是第几页
                        var pageNumber=$('#table').bootstrapTable('getOptions').pageNumber;
                        //返回序号，注意index是从0开始的，所以要加上1
                        return pageSize * (pageNumber - 1) + index + 1;
                    }
                },
                {
                    field: 'corpid',
                    title: '调用企业',
                    align: 'center',
                    valign: 'middle',
                }, {
                    field: 'loginid',
                    title: '调用用户',
                    align: 'center',
                    valign: 'middle'
                }, {
                    field: 'methodjc',
                    title: '日志标题',
                    align: 'center',
                    valign: 'middle'
                },  {
                    field: 'sccess',
                    title: '调用结果',
                    align: 'center',
                    valign: 'middle',
                    formatter : function(value, row, index) {
                        if(value==true){
                            return "<span style='color:#008dfc'>成功</span>";
                        }else {
                            return "<span style='color:red'>失败</span>";
                        }
                    }
                }, {
                    field: 'createdate',
                    title: '调用日期',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field : 'action',
                    title : '操作',
                    align: 'center',
                    valign: 'middle',
                    formatter : function(value, row, index) {
                        var str="";
                        str += formatString('<a href="javascript:void(0)"  onclick="openXq(\'{0}\');" > <span class=\"blue ml-m pointer\">详情</span></a><a href="javascript:void(0)"  onclick="del('+row.id+');" > <span class=\"blue ml-m pointer\">删除</span></a>', row.id);
                        return str;
                    }
                }
            ],
            onLoadSuccess: function(){  //加载成功时执行
                console.info("加载成功");
            },
            onLoadError: function(){  //加载失败时执行
                console.info("加载数据失败");
            },
            onClickRow:function (row,$element) {
            }

        });
    }
    /**
     * 查看详情
     */
    function openXq(id) {
        $.post('/web/log/get', {
            id:id
        },function(result) {
            if (result.code==200) {
                $("#typeXq").modal();
                $("#methodname").val(result.data.methodjc);
                $("#corpid").val(result.data.corpid);
                $("#loginid1").val(result.data.loginid);
                $("#ip").val(result.data.ip);
                $("#createdate").val(result.data.createdate);
                $("#sccess").val(result.data.sccess==true?'成功':'失败');
                $("#result").val(result.data.result);
            }else{
                alert(result.message);
            }
        }, 'JSON');
    }
    /**
     * 格式化字符串
     */
    function formatString(str){
        for ( var i = 0; i < arguments.length - 1; i++) {
            str = str.replace("{" + i + "}", arguments[i + 1]);
        }
        return str;
    }

    /**
     * 点击导航
     */
    function openfenxi(id,obj){
        if($("#"+id+"").css("display")=="none"){
            $("#"+id+"").show();
            $("#"+obj+"").removeClass().addClass("bg-sprites toggle-icon up");
        }else {
            $("#"+id+"").hide();
            $("#"+obj+"").removeClass().addClass("bg-sprites toggle-icon down");
        }
    }

    /**
     * 高级搜索
     */
    function sousuo(){
        var methodtype=$("#methodtype").val();
        var loginid=$("#loginid").val();
        var datetimepicker1=$("#datetimepicker1").find("input").val();
        var datetimepicker2=$("#datetimepicker2").find("input").val();
        if(methodtype||loginid||datetimepicker1||datetimepicker2){
            $('#table').bootstrapTable('refreshOptions',{pageNumber:1});
            $("#table").bootstrapTable('refresh', {
                query:
                    {
                        methodtype:methodtype,
                        loginid:loginid,
                        datetimepicker1:datetimepicker1,
                        datetimepicker2:datetimepicker2,
                        corpid:[[${session.sessionInfo.corpids}]]
                    }
            });
        }else{
            $("#table").bootstrapTable("refresh");
        }
    }
    /**
     * 重置搜索
     */
    function rest() {
        $("#methodtype").selectpicker('val', '');
        $("#loginid").val('');
        $("#datetimepicker1").find("input").val('');
        $("#datetimepicker2").find("input").val('');
    }

    /**
     * 删除日志
     * @param id
     */
    function del(id) {
        $.post('/web/log/delete', {
            id:id
        },function(result) {
            if (result.code==200) {
                $("#table").bootstrapTable("refresh");
            }else{
                alert(result.message);
            }
        }, 'JSON');
    }
</script>

</body>
</html>
