
.error-container{min-height:821px;padding-top:180px;font-size:16px;color:#5c5c5c;
    text-align:center}.error-container img{width:140px;height:140px}
.error-container .tips{margin:15px 0 10px;color:#666;font-size:18px}
.error-container .wording{font-size:14px;color:#999;margin-bottom:10px}
.error-container .mt-lg{margin-top:120px}
.nonsupport-container{font-family:'Helvetica Neue',Helvetica,Tahoma,Arial,
'Microsoft YaHei','PingFang SC','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',
sans-serif;width:580px;padding-top:180px;margin:0 auto}
.error-shut-down-company{width:380px;margin:0 auto}
.unsupported-media-type-container .error-415-wrapper{position:relative;width:160px;
    margin:0 auto}
.unsupported-media-type-container .error-415-wrapper img{width:100%;height:100%}
.unsupported-media-type-container .error-415-wrapper .qr-code{position:absolute;left:37px;
    width:86px;height:86px;bottom:26px}