<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>胖哼智能</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>分配成员</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--阿里巴巴前端框架 -->
    <link rel="stylesheet" th:href="@{/static/alibb/css/sm.min.css}">
    <link rel="stylesheet" th:href="@{/static/alibb/css/sm-extend.min.css}" >
    <!--jquery-->
</head>

<body >
<div class="page" id="routers-index-inner-1">
    <header class="bar bar-nav">
        <a class="icon icon-left pull-left" href="/wx/v1/page/admin"></a>
        <a class="icon icon-refresh pull-right" onclick="location.reload()"></a>
        <h1 class="title">安装图解</h1>
    </header>
    <div class="content">
        <div class="content-block-title">一、点击企业微信工作台企业管理</div>
        <div class="card demo-card-header-pic">
            <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="/static/imgage/an1.png" alt="">
            </div>
        </div>
        <div class="content-block-title">二、进入企业管理后点击设备管理</div>
        <div class="card demo-card-header-pic">
            <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="/static/imgage/an2.png" alt="">
            </div>
        </div>
        <div class="content-block-title">三、进入设备管理后点击添加</div>
        <div class="card demo-card-header-pic">
            <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="/static/imgage/an3.png" alt="">
            </div>
        </div>
        <div class="content-block-title">四、选择扫码方式或者手动填写设备编号方式添加设备</div>
        <div class="card demo-card-header-pic">
            <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="/static/imgage/an4.png" alt="">
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/alibb/js/jquery.js}" ></script>
<script th:src="@{/static/alibb/js/sm.js}" ></script>
<script th:src="@{/static/alibb/js/sm-extend.js}"  ></script>


</body>


</html>
