<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weixin.mapper.SysDepartMapper">
  <resultMap id="BaseResultMap" type="weixin.model.SysDepart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
    <result column="deparid" jdbcType="INTEGER" property="deparid" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="order" jdbcType="INTEGER" property="order" />
  </resultMap>

</mapper>