<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weixin.mapper.SysLockXlMapper">
  <resultMap id="BaseResultMap" type="weixin.model.SysLockXl">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="miaosu" jdbcType="VARCHAR" property="miaosu" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
  </resultMap>

</mapper>