<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weixin.mapper.SysTodoMapper">
  <resultMap id="BaseResultMap" type="weixin.model.SysTodo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_sn" jdbcType="VARCHAR" property="deviceSn" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="corp_id" jdbcType="VARCHAR" property="corpId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="todo_type" jdbcType="INTEGER" property="todoType" />
    <result column="open_type" jdbcType="INTEGER" property="openType" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="attr1" jdbcType="VARCHAR" property="attr1" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="INTEGER" property="attr4" />
    <result column="attr5" jdbcType="INTEGER" property="attr5" />
    <result column="attr6" jdbcType="BIT" property="attr6" />
    <result column="attr7" jdbcType="BIT" property="attr7" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>

</mapper>
