<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
    <!--基础样式-->
    <link th:href="@{../style/style.css}"  rel="stylesheet">
</head>
<body  ontouchstart>
    <div id="bzleft" style="float: left;margin-top: 10px;margin-left: 0px;">
        <a href="javascript:;" onclick="fhui()" style="color: white">
            <span class="icon icon-109 left10" ></span><span >返回</span>
        </a>
    </div>


</body>
<!--jquery-->
<script th:src="@{../js/jquery.min.js}"  ></script>
<script th:src="@{../js/locks.js}" ></script>
<script>
    $(function(){


    })
</script>
</html>