<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />

</head>
<body  ontouchstart>
<div class="page-hd">
    <h1 class="page-hd-title">
        设备安装申请单
    </h1>
    <p class="page-hd-desc"></p>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">设备类型</label></div>
        <div class="weui-cell__bd" style="text-align: right">
            <span th:text="${type==1?'智能门禁':(type==2?'智能挂锁':'保险柜锁')}"></span>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">申请人</label></div>
        <div class="weui-cell__bd" style="text-align: right">
            <span th:text="${userinfo.name}"></span>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入手机号" type="tel" th:value="${userinfo.mobile}">
        </div>

    </div>
</div>
<div class="go" onclick="$S.fhui()">
    <span  class="image31 "></span>
</div>
</body>
<!--jquery-->
<script th:src="@{../js/jquery.min.js}"  ></script>
<script th:src="@{../weui/js/zepto.weui.js}"></script>
<script th:src="@{../js/locks.js}" ></script>
<script th:inline="javascript">
    $S.corpid=[[${corpid}]];
    $S.userid=[[${userid}]];
</script>

</html>