<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--jquery-->
    <script th:src="@{../js/jquery.min.js}"  ></script>
    <!--企业微信 -->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
    <script th:src="@{../weui/js/zepto.weui.js}"></script>
    <script th:src="@{../weui/js/swipe.js}" ></script>
    <script th:src="@{../weui/js/zepto.min.js}"></script>
    <link rel="stylesheet" th:href="@{../style/example.css}" />
    <script th:src="@{../weui/js/iscroll-lite.js}" ></script>
    <!--基础样式-->
    <link th:href="@{../style/style.css}"  rel="stylesheet">
    <!--下拉动画-->
    <script th:src="@{../lottie/lottie.js}" ></script>
    <!-- 加载-->
    <script th:src="@{../js/index.js}" ></script>
    <script th:inline="javascript">
        var _imgLocalIdArray = [], _imgServerIdArray = [];
        $(window).load(function(){
            $("#loading").fadeOut();
        });
        $(window).on('hashchange', function (e) {
            if (/#.+/gi.test(e.newURL)) {
                return;
            }
            var $top = stack.pop();
            if (!$top) {
                return;
            }
            $top.addClass('slideOut').on('animationend', function () {
                $top.remove();
            }).on('webkitAnimationEnd', function () {
                $top.remove();
            });
        });
        $(function(){
            init();
            $('.weui-tab').tab({
                defaultIndex: 0,
                activeClass: 'weui-bar__item_on',
                onToggle: function (index) {
                    if(index==0){
                        shuaxin();
                        logcount([[${CorpId}]],[[${UserId}]],getcurrdate(true),"LOGIN");
                        // $('#slide3').swipeSlide({
                        //     autoSwipe:true,//自动切换默认是
                        //     speed:3000,//速度默认4000
                        //     continuousScroll:true,//默认否
                        //     transitionType:'ease-in'
                        // });
                        lishi();
                    }else if(index==1){
                        $("#date3").calendar({
                            container: "#inline-calendar",
                            dateFormat: 'yyyy-mm-dd',
                            onChange:function (p, values, displayValues){
                                wylog([[${CorpId}]],[[${UserId}]],values,"LOGIN");
                            }
                        });
                        lishi();
                    }else if(index==2){
                        lishi();
                        _imgLocalIdArray = [];
                        var str="<div style='width: 100%;margin-top: 20%;margin-bottom: 10%;text-align: center'><img  src=\"../imgage/notcomm.png\" ><br><span style='color:#7630A0 '>没有反馈记录</span></div>";
                        $("#toucontent").html(str);
                    }else if(index==3){
                        lishi();
                    }else {
                        lishi();
                    }
                }
            });
            $(".weui-c-like .icon").click(function(){
                if($(this).hasClass('on')) {
                    $(this).removeClass('on')
                }else{
                    $(this).addClass('on')
                }
            })

        })
        function shuaxin() {
            $("#lockqu").empty();
            $("#homemsg").empty();
            setTimeout(function(){ getlocks([[${CorpId}]],[[${UserId}]]); }, 100);
        }
        function lishi() {
            var $top = stack.pop();
            if (!$top) {
                return;
            }
            $top.addClass('slideOut').on('animationend', function () {
                $top.remove();
            }).on('webkitAnimationEnd', function () {
                $top.remove();
            });
            location.hash='';
        }
    </script>
</head>
<body ontouchstart >
<div id="loading"
     style="position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 100; overflow: hidden;">
    <img src="${ctx}/style/images/ajax-loader.gif"
         style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
</div>
<div class="container js_container">
    <div class="weui-tab" style="height:auto;">
        <div class="weui-tab__panel">
            <div id="c0" class="weui-tab__content">
                <div class="h-height-home" >
                    <div id="home" style="width: 40%;float: left;margin-top: 0px;margin-left: 20px;"></div>
                    <div id="animation" style="width: 50%;float: right;margin-top: 30px"></div>
                    <script>
                        bodymovin.loadAnimation({
                            path:'../lottie/home7.json',   //json文件路径
                            loop:true,
                            autoplay:true,
                            renderer:'svg',  //渲染方式，有"html"、"canvas"和"svg"三种
                            container:document.getElementById('animation')
                        });
                        bodymovin.loadAnimation({
                            path:'../lottie/lottie.json',   //json文件路径
                            loop:true,
                            autoplay:true,
                            renderer:'svg',  //渲染方式，有"html"、"canvas"和"svg"三种
                            container:document.getElementById('home')
                        });
                    </script>
                </div>
                <!--            <div class="slide slide-m" id="slide3">-->
                <!--                <ul>-->
                <!--                    <li>-->
                <!--                        <div  class='txt'>空旷冷落的古旧行宫，只有宫花寂寞地艳红</div>-->
                <!--                    </li>-->
                <!--                </ul>-->
                <!--            </div>-->
                <div  class="h-alert" >

                    <!--                <div class="weui-c-meta">-->
                    <!--                    <span class="weui-c-nickname"><a >欢迎您使用金储智能</a></span>-->
                    <!--&lt;!&ndash;                    <em class="weui-c-nickname" th:text="${userinfo.name}"></em>&ndash;&gt;-->
                    <!--                </div>-->
                    <!--                </div>-->
                    <div id="lockqu" class="lockqu">
                        <!--                <div class="running"></div>-->
                        <!--                <div style="font-size: 14px;color: #dfe3ea;">搜索中...请稍等</div>-->
                    </div>
                    <div id="homemsg" style="text-align: center;margin-top: -5%;"></div>
                    <!--                <img th:src="@{../imgage/meisuo.png}" style="width: 250px;height: 200px;" ><br/>-->
                    <!--                <a href="javascript:;" onclick="window.location.reload()" class="weui-btn weui-btn_mini  bg-gray f-black"><span style="color: blue">重新搜索</span></a>-->
                    <!--                <a href="javascript:;" onclick="bangzu()" class="weui-btn weui-btn_mini  bg-gray f-black"><span style="color: blue">查看帮助</span></a>-->
                </div>
            </div>
            <div id="c1"  class="weui-tab__content">
                <div class="container xiao-xi">
                    <div class="weui-cells weui-cells_form" >
                        <div class="weui-cell">
                            <div class="weui-cell__bd" >
                                <input class="weui-input" id="date3" type="text">
                            </div>
                        </div>
                    </div>
                    <div id="inline-calendar"></div>
                </div>
                <div class="weui-panel__bd" id="infoqu" style="max-height: 5000px;margin-top: 90%;margin-bottom: 50px">

                </div>
            </div>
            <div id="c2"  class="weui-tab__content">
                <!--            <div class="weui-search-bar" id="searchBar">-->
                <!--                <form class="weui-search-bar__form" action="#">-->
                <!--                    <div class="weui-search-bar__box">-->
                <!--                        <i class="weui-icon-search"></i>-->
                <!--                        <input class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="" type="search">-->
                <!--                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>-->
                <!--                    </div>-->
                <!--                    <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">-->
                <!--                        <i class="weui-icon-search"></i>-->
                <!--                        <span>搜索</span>-->
                <!--                    </label>-->
                <!--                </form>-->
                <!--                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>-->
                <!--            </div>-->
                <div id="toucontent" >

                </div>
                <div class="page-bd-15">
                    <a class="weui-btn bg-zi js_cell" href="javascript:;" data-id="tianxie" >我要反馈</a>
                </div>
            </div>
            <div id="c3" th:if="${isadmin=='yes'}" class="weui-tab__content">
                sdfsdf
            </div>
            <div  id="c4" class="weui-tab__content">
                <div class="h-height-home" >
                    <div class="touxiang">
                        <img th:src="${userinfo.avatar}" class="tou">
                        <div  class="h-wode"><span th:text="${userinfo.name}"></span></div>
                        <div  class="h-shebei"><span >0个设备</span></div>
                        <!--                    <div  class="h-userinfo">-->
                        <!--                        <a href="javascript:;"  class="js_cell" data-id="myInfo">-->
                        <!--                            <span class="icon icon-108 h-corp" ></span>-->
                        <!--                        </a>-->
                        <!--                    </div>-->
                    </div>
                    <div id="userxin" style="width: 50%;float: right;height: 150px;" onclick="userinfo()"></div>
                    <script>
                        bodymovin.loadAnimation({
                            path:'../lottie/user.json',   //json文件路径
                            loop:true,
                            autoplay:true,
                            renderer:'svg',  //渲染方式，有"html"、"canvas"和"svg"三种
                            container:document.getElementById('userxin')
                        });
                    </script>
                </div>

                <div class="h-userapp">
                    <div class="weui-grids">
                        <a href="javascript:;" class="weui-grid js_cell" data-id="myLock" >
                            <div class="weui-grid__icon">
                                <img th:src="@{../imgage/menjin.png}"  >
                            </div>
                            <p class="weui-grid__label">
                                我的设备
                            </p>
                        </a>
                        <a href="javascript:;" class="weui-grid js_cell"   data-id="myMsg">
                            <div class="weui-grid__icon">
                                <img th:src="@{../imgage/info.png}"  >
                            </div>
                            <p class="weui-grid__label">
                                我的消息
                            </p>
                        </a>
                        <a href="javascript:;" class="weui-grid js_cell"   data-id="myDoctor">
                            <div class="weui-grid__icon">
                                <img th:src="@{../imgage/tiyan.png}"  >
                            </div>
                            <p class="weui-grid__label">
                                模拟体验
                            </p>
                        </a>
                    </div>
                    <div class="weui-cells">

                        <!--                    <a class="weui-cell weui-cell_access" href="javascript:;">-->
                        <!--                        <div class="weui-cell__hd icon icon-101 f19">-->
                        <!--                        </div>-->
                        <!--                        <div class="weui-cell__bd left10">-->
                        <!--                            <p>设置</p>-->
                        <!--                        </div>-->
                        <!--                        <div class="weui-cell__ft"></div>-->
                        <!--                    </a>-->
                        <a class="weui-cell weui-cell_access js_cell" href="javascript:;" data-id="myInfo">
                            <div class="weui-cell__hd icon icon-99 f19">
                            </div>
                            <div class="weui-cell__bd left10">
                                <p>个人信息</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_cell" href="javascript:;" data-id="myhele">
                            <div class="weui-cell__hd icon icon-88 f19">
                            </div>
                            <div class="weui-cell__bd left10">
                                <p>帮助</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_cell" href="javascript:;" data-id="wenti">
                            <div class="weui-cell__hd icon icon-67 f19">
                            </div>
                            <div class="weui-cell__bd left10">
                                <p>问题与建议</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_cell" href="javascript:;" data-id="myguanyu">
                            <div class="weui-cell__hd icon icon-40 f19">
                            </div>
                            <div class="weui-cell__bd left10">
                                <p>关于</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="weui-tabbar tab-bottom">
            <a href="javascript:;" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="icon icon-29 f27 weui-tabbar__icon"></i>
                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;" id="lockcount">0</span>
            </span>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="icon icon-80 f27 weui-tabbar__icon"></i>
                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;" id="logcount">0</span>
            </span>
                <p class="weui-tabbar__label">记录</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="icon icon-67 f27 weui-tabbar__icon"></i>
                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;" id="jianyi">0</span>
            </span>
                <p class="weui-tabbar__label">反馈</p>
            </a>
            <a th:if="${isadmin=='yes'}" href="javascript:;" class="weui-tabbar__item">
                <i class="icon icon-102 f27 weui-tabbar__icon"></i>
                <p class="weui-tabbar__label">管理</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item ">
                <i class="icon icon-100 f27 weui-tabbar__icon" ></i>
                <p class="weui-tabbar__label ">我的</p>
            </a>
        </div>
    </div>
</div>
<!--操作指南模板-->
<script type="text/html" id="tpl_myDoctor">
    <div class="page">
        <div class="page-hd">

            <div class="left-agin top5 titly">
                <a href="javascript:;" onclick="retu()">
                    <span class="icon icon-109 left10" ></span><span class="left10">模拟体验</span>
                </a>
            </div>
            <p class="page-hd-desc">
                金储智能包括智能门禁、智能文件柜锁、智能箱柜挂锁等
            </p>
        </div>
        <div class="weui-tab" id="t1" style="height:450px;">

            <div class="weui-navbar">
                <div class="weui-navbar__item">
                    智能门禁
                </div>
                <div class="weui-navbar__item">
                    智能箱柜挂锁
                </div>
                <div class="weui-navbar__item">
                    智能防盗锁
                </div>
            </div>
            <div class="weui-tab__panel">
                <div id="d0" class="weui-tab__content">
                    <div class="show" style="position:relative;">
                        <div id="doorBox" class="door-box">
                            <div class="wall">
                                <div class="door-border">
                                    <div class="door-frame">
                                        <!-- 左门 -->
                                        <div class="door door-left">
                                            <!-- 门后 -->
                                            <div class="door-face-0"></div>
                                            <!--                                            &lt;!&ndash; 三个面 &ndash;&gt;-->
                                            <!--                                            <div class="door-face-2"></div>-->
                                            <!--                                            <div class="door-face-1"></div>-->
                                            <!--                                            <div class="door-face-3"></div>-->
                                        </div>
                                        <!-- 右门 -->
                                        <div class="door door-right">
                                            <!-- 门后 -->
                                            <div class="door-face-0"></div>
                                            <!--                                            &lt;!&ndash; 三个面 &ndash;&gt;-->
                                            <!--                                            <div class="door-face-2"></div>-->
                                            <!--                                            <div class="door-face-1"></div>-->
                                            <!--                                            <div class="door-face-3"></div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 书房 -->
                        <div style="margin-top: -200px;margin-left: 71%;position: absolute;">
                            <img th:src="@{../imgage/sexiang.png}"   style="width: 30px">
                        </div>
                    </div>
                    <div class="weui-grids">
                        <a href="javascript:;" class="weui-grid" onclick="kaimen()" >
                            <div class="weui-grid__icon">
                                <img th:src="@{../imgage/phone.png}"  >
                            </div>
                            <p class="weui-grid__label">
                                APP开锁
                            </p>
                        </a>
                        <a href="javascript:;" class="weui-grid "   onclick="saoma()">
                            <div class="weui-grid__icon">
                                <img th:src="@{../imgage/saoma.png}"  >
                            </div>
                            <p class="weui-grid__label">
                                扫码开锁
                            </p>
                        </a>
                        <a href="javascript:;" class="weui-grid "  onclick="shualian()">
                            <div class="weui-grid__icon">
                                <img th:src="@{../imgage/shualian.png}"  >
                            </div>
                            <p class="weui-grid__label">
                                刷脸开锁
                            </p>
                        </a>
                    </div>
                    <div id="saoma" style="margin-top: -211px;margin-left: 70%;height: 150px"></div>
                </div>
                <div id="d1" class="weui-tab__content">
                    开发中
                </div>
                <div id="d2" class="weui-tab__content">
                    开发中
                </div>
            </div>
        </div>
    </div>
</script>
<!--我的个人信息模板-->
<script type="text/html" id="tpl_myInfo">
    <div class="page">
        <div class="h-height" >
            <div class="left-agin">
                <a  href="javascript:;" onclick="retu()">
                    <span class="icon icon-109 h-corp" ></span>
                </a>
            </div>
            <div class="myxiang">
                <img th:src="${userinfo.avatar}" class="tou1"><br/>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>名称</p>
                </div>
                <div class="weui-cell__ft" th:text="${userinfo.name}"></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>昵称</p>
                </div>
                <div class="weui-cell__ft" th:text="${userinfo.alias!=''?userinfo.alias:'- -'}"></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>性别</p>
                </div>
                <div class="weui-cell__ft" th:text="${userinfo.gender=='1'?'男':'女'}"></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>家乡</p>
                </div>
                <div class="weui-cell__ft" th:text="${userinfo.address!=''?userinfo.address:'- -'}"></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>公司</p>
                </div>
                <div class="weui-cell__ft" th:text="${corpInfo.corp_full_name}"></div>
            </div>
        </div>
    </div>
</script>
<!-- 我的设备模板-->
<script type="text/html" id="tpl_myLock">
    <div class="page">
        <div class="left-agin top5 titly">
            <a href="javascript:;" onclick="retu()">
                <span class="icon icon-109 left10" ></span><span class="left10">我的设备</span>
            </a>
        </div>
        <div id="mylock" style="text-align: center;margin-left: 25%;width: 50%;">
        </div>
        <div id="lockmsg" style="text-align: center;margin-top: -20%;"></div>
    </div>
</script>
<!-- 帮助模板-->
<script type="text/html" id="tpl_myhele">

    <div class="page">
        <div class="h-height-home" >
            <div id="bzleft" style="width: 40%;float: left;margin-top: 10px;margin-left: 0px;">
                <a href="javascript:;" onclick="retu()" style="color: wheat">
                    <span class="icon icon-109 left10" ></span><span class="left10">帮助</span>
                </a>
            </div>
            <div id="bzright" style="width: 50%;float: right;margin-right: 10%;margin-top: -3%"></div>
        </div>

        <div class="page-bd" style="position: absolute">
            <ul class="collapse">
                <li><div class="weui-flex js-category" >
                    <div class="weui-flex__item" >如何添加设备</div>
                    <i class="icon icon-74"></i>
                </div>
                    <div class="page-category js-categoryInner">

                        <div class="weui-cells page-category-content">
                            <p class="content">
                                1、企业管理员从硬件服务商的线上渠道、线下渠道进行购买硬件设备。<br/>
                                2、【企业微信手机端->工作台->企业管理->设备管理->添加】企业管理员进行硬件设备和企业微信的关联匹配（可用企业微信扫一扫、蓝牙、SN编码输入的三种方式）。<br/>
                                3、企业管理员确认绑定设备，并添加配套应用及选择配套应用的人员可见范围</p>
                        </div></div>
                </li>
                <li><div class="weui-flex js-category" >
                    <div class="weui-flex__item" >已扫描到设备但添加失败，如何处理</div>
                    <i class="icon icon-74"></i>
                </div>
                    <div class="page-category js-categoryInner">

                        <div class="weui-cells page-category-content">
                            <p class="content">
                                可能原因如下:<br/>
                                1、手机当前连接的无线网络密码错误。<br/>
                                2、路由器开启了网络隐藏、MAC地址过滤、IP地址过滤、域名过滤等防蹭网功能。<br/>
                                3、手机连接的是无线网络是公共网络，公共网络下不支持添加设备。<br/>
                                4、如果尝试上述方法都无法添加成功，请通过以下操作反馈问题:【我的>问题与建议】，我们会尽快联系您处理。
                            </p>

                        </div></div>
                </li>
                <li><div class="weui-flex js-category" >
                    <div class="weui-flex__item" >管理员如何将设备分配给成员</div>
                    <i class="icon icon-74"></i>
                </div>
                    <div class="page-category js-categoryInner">

                        <div class="weui-cells page-category-content">
                            <p class="content">
                                可能原因如下:<br/>
                                1、请打开无线局域网并连接WiFi,否则仅支持蓝牙。<br/>
                                2、确保智能设备已连接电源，且在手机附近。<br/>
                                3、询问管理员是否已卸载设备。<br/>
                                4、如果尝试上述方法都无法添加成功，请通过以下操作反馈问题:【我的>问题与建议】，我们会尽快联系您处理。
                            </p>

                        </div></div>
                </li>
                <li><div class="weui-flex js-category" >
                    <div class="weui-flex__item" >成员搜索不到设备，如何处理</div>
                    <i class="icon icon-74"></i>
                </div>
                    <div class="page-category js-categoryInner">

                        <div class="weui-cells page-category-content">
                            <p class="content">
                                可能原因如下:<br/>
                                1、请打开无线局域网并连接WiFi,否则仅支持蓝牙。<br/>
                                2、确保智能设备已连接电源，且在手机附近。<br/>
                                3、询问管理员是否已卸载设备。<br/>
                                4、如果尝试上述方法都无法添加成功，请通过以下操作反馈问题:【我的>问题与建议】，我们会尽快联系您处理。
                            </p>

                        </div></div>
                </li>
            </ul>
        </div>
    </div>
</script>
<!-- 关于模板-->
<script type="text/html" id="tpl_myguanyu">

    <div class="page">
        <div class="h-height-home" >
            <div id="guan" style="width: 40%;float: left;margin-top: 10px;margin-left: -4px;">
                <a href="javascript:;" onclick="retu()" style="color: wheat">
                    <span class="icon icon-109 left10" ></span><span class="left10">关于</span>
                </a>
            </div>
            <div id="guleft" style="width: 50%;float: left;margin-top: -5%;margin-left: -10%"></div>
            <!--            <div id="guright" style="width: 50%;float: right;margin-top: -3%;"></div>-->
        </div>

        <div class="page-bd" style="position: absolute;width: 100%">
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>当前版本</p>
                    </div>
                    <div class="weui-cell__ft" >2.0</div>
                </div>
            </div>
        </div>
        <div class="weui-footer weui-footer_fixed-bottom">
            <p class="weui-footer__links">
                版权所有
            </p>
            <p class="weui-footer__text"> &copy; 金储公司保留一切权利</p>
        </div>
    </div>
</script>
<!-- 我的消息模板-->
<script type="text/html" id="tpl_myMsg">
    <div class="page ">
        <article class="weui-article">
            <div  style="width: 40%;float: left;margin-top: 10px;margin-left: -4px;">
                <a href="javascript:;" onclick="retu()" >
                    <span class="icon icon-109 left10" ></span><span class="left10">信息中心</span>
                </a>
            </div><br/><br/>
            <section>
                <div style="text-align: center">2019-10-08</div>
                <h3> 爱情是一种感觉</h3>
                <p>
                    只是希望能有个人，在我说没事的时候，知道我不是真的没事；能有个人，在我强颜欢笑的时候，知道我不是真的开心。
                </p>
            </section>
            <section>
                <div style="text-align: center">2019-10-08</div>
                <h3> 爱情是一种感觉</h3>
                <p>
                    只是希望能有个人，在我说没事的时候，知道我不是真的没事；能有个人，在我强颜欢笑的时候，知道我不是真的开心。
                </p>
            </section>
        </article>
    </div>
</script>
<!-- 问题建议模板-->
<script type="text/html" id="tpl_wenti">
    <div class="page ">

    </div>
</script>
<!-- 问题建议填写模板-->
<script type="text/html" id="tpl_tianxie">
    <div class="page ">
        <form>
            <!--        <div  style="width: 100%;float: left;margin-top: 10px;margin-left: -4px;">-->
            <!--            <a href="javascript:;" onclick="retu()" >-->
            <!--                <span class="icon icon-109 left10" ></span><span class="left10">返回</span>-->
            <!--            </a>-->
            <!--        </div><br/><br>-->
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="标题" type="text" id="tilte" name="tilte" >
                    </div>
                    <i class="weui-icon-safe-success" ></i>
                </div>
                <div style="width: 100%;height: 10px;background-color: #EFEFF4"></div>
                <div style="font-size: 13px;width: 100%;padding:0px 15px;">
                    亲爱的用户:
                </div>
                <div style="font-size: 13px;width: 93%;padding:0px 15px;">
                    感谢您使用我们的产品!欢迎您在这里给我们提供产品相关的建议，产品经理会及时查看大家的反馈。
                </div>
                <div style="font-size: 13px;width: 93%;padding:0px 15px;">
                    另外，如果您在使用我们的产品的过程中遇到问题(bug)或者疑问，建议您提供相应的截图与描述，有助于我们更好的解决问题。感谢!
                </div>
                <div style="width: 100%;height: 10px;background-color: #EFEFF4"></div>
                <div class="weui-cells__title">反馈类型</div>
                <div class="weui-form">
                    <div style="width: 90%;margin-left: auto;margin-right: auto;border: 1px #b8b8b8  solid;border-radius: 5px;position: relative;overflow: hidden;">
                        <div class="weui-form-li iblock">
                            <input class="weui-form-checkbox"  name="type"  id="g1" value="1" type="radio">
                            <label for="g1" >
                                <i class="weui-icon-radio"></i>
                                <div class="weui-form-text"><p>优化建议</p></div>
                            </label>
                        </div>
                        <div class="weui-form-li iblock">
                            <input class="weui-form-checkbox"  name="type"  id="g2" value="2" type="radio">
                            <label for="g2" >
                                <i class="weui-icon-radio"></i>
                                <div class="weui-form-text"><p>功能咨询</p></div>
                            </label>
                        </div>
                        <div class="weui-form-li iblock">
                            <input class="weui-form-checkbox"  name="type"  id="g3" value="3" type="radio">
                            <label for="g3" >
                                <i class="weui-icon-radio"></i>
                                <div class="weui-form-text"><p>问题吐槽</p></div>
                            </label>
                        </div>
                        <div class="weui-form-li iblock">
                            <input class="weui-form-checkbox"  name="type"  id="g4" value="4" type="radio">
                            <label for="g4" >
                                <i class="weui-icon-radio"></i>
                                <div class="weui-form-text"><p>点个赞</p></div>
                            </label>
                        </div>
                        <div class="weui-form-li iblock">
                            <input class="weui-form-checkbox"  name="type"  id="g5" value="5" type="radio">
                            <label for="g5" >
                                <i class="weui-icon-radio"></i>
                                <div class="weui-form-text"><p>其他问题</p></div>
                            </label>
                        </div>
                    </div>
                </div><br>
                <div style="width: 100%;height: 10px;background-color: #EFEFF4"></div>
                <div class="weui-cells__title">反馈内容:说说您的问题<span style="color: red">*</span></div>
                <div class="weui-cell datext">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="请输入文本" rows="3" onkeyup="textarea(this);"></textarea>
                        <div class="weui-textarea-counter"><span>0</span>/<i>10</i></div>
                    </div>
                    <i class="weui-icon-clear" onclick="cleararea(this)"></i>
                </div><br>
                <div style="width: 100%;height: 10px;background-color: #EFEFF4"></div>
                <div class="weui-cells__title"><div style="float: left;margin-bottom: 15px">问题截图</div><div style="float: right">可上传<span style="color: red" id="tpcont">1</span>张图片</div></div>
                <div class="weui-uploader__bd" style="margin-bottom: 60px;width: 90%;margin-left: auto;margin-right: auto">
                    <ul class="weui-uploader__files" id="imgUl">

                    </ul>

                    <div class="weui-uploader__input-box" id="addImgBtn" onclick="openimg()">
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>
<script th:inline="javascript">
    // page stack
    var stack = [];
    var $container = $('.js_container');
    $container.on('click', '.js_cell[data-id]', function () {
        var id = $(this).data('id');
        go(id);
    });
    function go(id){
        var $tpl = $($('#tpl_' + id).html()).addClass('slideIn').addClass(id);
        $container.append($tpl);
        stack.push($tpl);
        history.pushState({id: id}, '', '#' + id);
        location.hash = '#' + id;

        $($tpl).on('webkitAnimationEnd', function (){
            $(this).removeClass('slideIn');
        }).on('animationend', function (){
            $(this).removeClass('slideIn');
        });
        if(id=='myDoctor'){
            $('#t1').tab({
                defaultIndex: 0,
                activeClass: 'tab-green',
                onToggle: function (index) {
                    if(index==0){
                        // var dp = new DPlayer({
                        //     container: document.getElementById('dplayer'),
                        //     screenshot: true,
                        //     autoplay:true,
                        //     video: {
                        //         url: '../dp/mkq.mp4',
                        //         pic: '../imgage/menjin.png',
                        //         thumbnails: '../imgage/menjin.png'
                        //     }
                        // });
                    }else if(index==1){
                        // var dp1 = new DPlayer({
                        //     container: document.getElementById('dplayer1'),
                        //     screenshot: true,
                        //     autoplay:true,
                        //     video: {
                        //         url: '../dp/fds.mp4',
                        //         pic: '../imgage/lock.png',
                        //         thumbnails: '../imgage/lock.png'
                        //     }
                        // });
                    }
                }
            })
        }else if(id=="myLock"){
            $("#mylock").empty();
            $("#lockmsg").empty();
            wylock([[${CorpId}]],[[${UserId}]]);
        }else if(id=="myMsg"){

        }else if(id=="myhele"){
            bodymovin.loadAnimation({
                path:'../lottie/bangzu.json',   //json文件路径
                loop:true,
                autoplay:true,
                renderer:'svg',
                container:document.getElementById('bzright')
            });
            $('.collapse .js-category').click(function(){
                $parent = $(this).parent('li');
                if($parent.hasClass('js-show')){
                    $parent.removeClass('js-show');
                    $(this).children('i').removeClass('icon-35').addClass('icon-74');
                }else{
                    $parent.siblings().removeClass('js-show');
                    $parent.addClass('js-show');
                    $(this).children('i').removeClass('icon-74').addClass('icon-35');
                    $parent.siblings().find('i').removeClass('icon-35').addClass('icon-74');
                }
            });
        }else if(id=="myguanyu"){
            bodymovin.loadAnimation({
                path:'../lottie/guan.json',
                loop:true,
                autoplay:true,
                renderer:'svg',
                container:document.getElementById('guleft')
            });
        }else if(id=="tianxie"){
            $("#tilte").val("问题与反馈-"+getcurrdate(false));
            $('#imgUl').empty();
        }

    }

</script>
<script th:src="@{../js/index.js}" ></script>
<!--<script th:src="@{../js/example.js}" ></script>-->
<!--<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>-->


</body>
</html>