<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--jquery-->
    <script th:src="@{../js/jquery.min.js}"  ></script>
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
    <!--基础样式-->
    <script th:src="@{../js/locks.js}" ></script>
</head>
<body  ontouchstart>
<div class="weui-cell">
    <div class="weui-cell__bd " id="sbfh" onclick="fan()">
       <span class="icon icon-109" style="margin-left: -5px"></span><span class="left10">问题与建议</span>
    </div>
    <div class="weui-cell__ft"></div>
</div>
</div>
<div id="toucontent" >

</div>
<div class="weui-footer weui-footer_fixed-bottom" style="bottom: 20px;left: 30px;right: 30px;">
    <a class="weui-btn bg-zi " href="javascript:;"  th:href="@{/wx/v1/wentixie(corpid=${corpid},userid=${userid})}">我要反馈</a>
</div>
<script>
$(function () {
})
    function fan() {
        setCookie("num","3");
        var loginhref= "/wx/v1/index";
        location.href=loginhref;
    }
</script>
</body>
</html>