<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
</head>
<body  ontouchstart>
<div class="weui-panel__hd" style="text-align: center">
    <a  href="javascript:;" onclick=" history.back(-1)">
        <span class="icon icon-109 " style="font-size: 18px"></span>个人信息</a>
</div>
<div class="weui-cells" >
    <div class="weui-cell">
    <div class="weui-cell__bd">
        <p>姓名</p>
    </div>
    <div class="weui-cell__ft" th:text="${userinfo.name}"></div>
</div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>账号</p>
        </div>
        <div class="weui-cell__ft" th:text="${userinfo.loginId}"></div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>公司</p>
        </div>
        <div class="weui-cell__ft" th:text="${session.corpName}"></div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>角色</p>
        </div>
        <div class="weui-cell__ft" th:text="${userinfo.roleId==7?'管理员':'成员'}"></div>
    </div>
    <div class="weui-cell" th:if="${userinfo.phone!=''}">
        <div class="weui-cell__bd">
            <p>手机</p>
        </div>
        <div class="weui-cell__ft" th:text="${userinfo.phone}"></div>
    </div>
</div>

</body>
<!--jquery-->
<script th:src="@{../js/jquery.min.js}"  ></script>
<script th:src="@{../js/locks.js}" ></script>
<script>

</script>
</html>