<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
    <script th:src="@{../weui/js/zepto.min.js}"></script>
    <script th:src="@{../weui/js/zepto.weui.js}"></script>
</head>
<body  ontouchstart>

<div class="weui-panel" >
    <div class="weui-panel__hd" style="text-align: center">
        <a id="tui" th:href="@{/wx/v1/shebeiinfo(corpid=${corpid},sn=${sn})}">
            <span class="icon icon-109 " style="font-size: 18px"></span>更多设置</a>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells weui-cells_form" >
                <div class="weui-cell " >
                    <div class="weui-cell__bd" >是否关闭</div>
                    <div class="weui-cell__ft" >
                        <label  class="weui-switch-cp">
                            <input  id="cb1" class="weui-switch-cp__input"  onclick="colseLockUser(this)" checked="checked" type="checkbox">
                            <div class="weui-switch-cp__box" ></div>
                        </label>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="in" class="weui-label">设备功能</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" id="in" type="text" value="" readonly="">
                    </div>
                </div>
            </div>
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select weui-cell_select-after" th:if="${info.expires_type==1}">
                    <div class="weui-cell__hd">
                        <label class="weui-label">使用时效</label>
                    </div>
                    <div class="weui-cell__bd" >
                        <select class="weui-select" name="select1" onchange="cheng1(this)">
                            <option value="1" selected>无期限</option>
                            <option value="2">有期限</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after" th:if="${info.expires_type==2}">
                    <div class="weui-cell__hd">
                        <label class="weui-label">使用时效</label>
                    </div>
                    <div class="weui-cell__bd" >
                        <select class="weui-select" name="select2" onchange="cheng2(this)">
                            <option value="1" >无期限</option>
                            <option value="2" selected>有期限</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell" id="it1">
                    <div class="weui-cell__hd"><label for="time2" class="weui-label">开始时间</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" id="time2" type="text" th:value="${info.expires_satrt}" readonly="">
                    </div>
                </div>
                <div class="weui-cell" id="it2">
                    <div class="weui-cell__hd"><label for="time3" class="weui-label">结束时间</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" id="time3" type="text" th:value="${info.expires_end}" readonly="">
                    </div>
                </div>
                <a id="it3" href="javascript:;" onclick="tjiao()" class="weui-btn weui-btn_primary ">保存</a>
            </div>
        </div>
    </div>
</div>

</body>
<!--jquery-->
<script th:src="@{../js/shebei.js}" ></script>
<script th:inline="javascript">
    $SB.corpid=[[${corpid}]];
    $SB.sn=[[${sn}]];
    $SB.master=[[${userid}]];
    var size=0;
    var ex=[[${info.expires_type}]];
    if(ex==1){
        $("#it1").hide();
        $("#it2").hide();
        $("#it3").hide();
    }else {
        $("#it1").show();
        $("#it2").show();
        $("#it3").show();
    }
    $.each([[${select}]], function (index, items) {
        size++;
        if(items.description==0){
            $SB._adminArray.push(items.title);
            $SB._empArray.push(items.value);
        }
    });
    $SB._adminArray.join(',');
    $("#in").val($SB._adminArray.toString());
    if(size>1) {
        $("#in").select({
            title: "分配设备",
            multi: true,
            min: 0,  //最少选1个
            max: 3,  //最多选3个
            items: [[${select}]],
            beforeClose: function (values, titles) {
                console.log(values)
                if (values) {
                    if (values.toString() != $SB._empArray.join(',').toString()) {
                        // var d = $SB._empArray.filter(function (v) {
                        //     return values.indexOf(v) == -1
                        // });
                        $.post($SB.getRootPath() + "/v1/setUserLockFu", {
                            "corpid": $SB.corpid,
                            "sn": $SB.sn,
                            "userid": $SB.master,
                            "sets":  values.toString()
                        }, function (data) {
                            if (data.rtnCode == 200) {
                                $SB._adminArray = [];
                                $SB._empArray = [];
                                window.location.reload();
                            } else {
                                $.noti({
                                    title: "消息！",
                                    text: data.msg_zh,
                                    media: "<span  class=\"icon icon-80 f11\"></span>",
                                    time: 3000,
                                    onClick: function (data) {
                                    }
                                });
                                $("#in").val($SB._adminArray.toString());
                            }
                        })
                    }
                } else {
                    // $("#in").val($SB._adminArray.toString());
                }
            },
            onChange: function (d) {
                if(d.length==0){
                    $.noti({
                        title: "消息！",
                        text: "至少保留一个选项",
                        media: "<span  class=\"icon icon-80 f11\"></span>",
                        time: 3000,
                        onClick: function (data) {
                        }
                    });
                }
            },
            onClose: function (d) {
                if(d.data.length==0){

                    $("#in").val($SB._adminArray.toString());
                }
            }
        });
    }
    $("#time2").datetimePicker({
        times: function () {
            return [
                {
                    values: (function () {
                        var hours = [];
                        for (var i=0; i<24; i++) hours.push(i > 9 ? i : '0'+i);
                        return hours;
                    })()
                },
                {
                    divider: true,  // 这是一个分隔符
                    content: ''
                }
            ];
        },
        onChange: function (picker, values, displayValues) {
            console.log(values);
        },
    });
    $("#time3").datetimePicker({
        times: function () {
            return [
                {
                    values: (function () {
                        var hours = [];
                        for (var i=0; i<24; i++) hours.push(i > 9 ? i : '0'+i);
                        return hours;
                    })()
                },
                {
                    divider: true,  // 这是一个分隔符
                    content: ''
                }
            ];
        },
        onChange: function (picker, values, displayValues) {
            console.log(values+","+displayValues);
        },
    });
    function colseLockUser(obj) {
        $.post($SB.getRootPath() + "/v1/delUserLock", {
            "corpid": $SB.corpid,
            "sn": $SB.sn,
            "userid": $SB.master
        }, function (data) {
            if (data.rtnCode == 200) {
                $("#tui").click();
            } else {
                $.noti({
                    title: "消息！",
                    text: data.msg_zh,
                    media: "<span  class=\"icon icon-80 f11\"></span>",
                    time: 3000,
                    onClick: function (data) {
                    }
                });
                $("#cb1").prop("checked",true);
            }
        })
    }
    function cheng1(obj) {
        if($(obj).val()==2){
                $.noti({
                    title: "消息！",
                    text: "选择有期限必须填写时效日期才生效",
                    media: "<span  class=\"icon icon-80 f11\"></span>",
                    time: 3000,
                    onClick: function (data) {
                    }
                });
                $("#it1").show();
                $("#it2").show();
                $("#it3").show();
        }else {
            $("#it1").hide();
            $("#it2").hide();
            $("#it3").hide();
        }
    }
    function cheng2(obj) {
        if($(obj).val()==1){
            $.post($SB.getRootPath() + "/v1/setUserLockDate", {
                "corpid": $SB.corpid,
                "sn": $SB.sn,
                "userid": $SB.master,
                "type":1,
                "start":  "",
                "end":""
            }, function (data) {
                if (data.rtnCode == 200) {
                    window.location.reload();
                } else {
                    $.noti({
                        title: "消息！",
                        text: data.msg_zh,
                        media: "<span  class=\"icon icon-80 f11\"></span>",
                        time: 3000,
                        onClick: function (data) {
                        }
                    });
                }
            })
        }
    }
    function tjiao() {
        var t1=$("#time2").val();
        var t2=$("#time3").val();
        if(!t1){
            $.noti({
                title: "消息！",
                text: "开始时间不能为空",
                media: "<span  class=\"icon icon-80 f11\"></span>",
                time: 3000,
                onClick: function (data) {
                }
            });
            return;
        }
        if(!t2){
            $.noti({
                title: "消息！",
                text: "结束时间不能为空",
                media: "<span  class=\"icon icon-80 f11\"></span>",
                time: 3000,
                onClick: function (data) {
                }
            });
            return;
        }
        var starttime = new Date(t1+":00:00").getTime();
        var endtime = new Date(t2+":00:00").getTime();
        if(starttime>=endtime){
            $.noti({
                title: "消息！",
                text: "开始时间不能大于或等于结束时间",
                media: "<span  class=\"icon icon-80 f11\"></span>",
                time: 3000,
                onClick: function (data) {
                }
            });
            return;
        }else {
            $.post($SB.getRootPath() + "/v1/setUserLockDate", {
                "corpid": $SB.corpid,
                "sn": $SB.sn,
                "userid": $SB.master,
                "type":2,
                "start":  t1,
                "end":t2
            }, function (data) {
                if (data.rtnCode == 200) {
                    $("#tui").click();
                } else {
                    $.noti({
                        title: "消息！",
                        text: data.msg_zh,
                        media: "<span  class=\"icon icon-80 f11\"></span>",
                        time: 3000,
                        onClick: function (data) {
                        }
                    });
                }
            })
        }
    }
</script>
</html>