<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
</head>
<body  ontouchstart>

<div class="weui-panel" >
    <div class="weui-panel__hd" style="text-align: center">
        <a  href="javascript:;" onclick=" history.back(-1)">
            <span class="icon icon-109 " style="font-size: 18px"></span>用户管理</a>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-cells" th:each="user:${users}">
            <div class="weui-cell weui-cell_select weui-cell_select-after" >
                <div class="weui-cell__hd">
                    <label class="weui-label" th:text="${user.name}"></label>
                </div>
                <div class="weui-cell__bd" >
                    <input type="hidden" th:value="${user.loginId}"></input>
                    <select class="weui-select"  onchange="cheng1(this)"  >
                        <option value="6" th:selected="${user.roleId==6}">成员</option>
                        <option value="7" th:selected="${user.roleId==7}">管理员</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--jquery-->
<script th:src="@{../js/jquery.min.js}"  ></script>
<script th:src="@{../weui/js/zepto.weui.js}"></script>
<script th:inline="javascript">
function cheng1(obj) {
    console.log($(obj).val())
    console.log($(obj).siblings().val())
    $.post(getRootPath() + "/v1/setUserRole", {
        "corpid": [[${corpid}]],
        "userid": $(obj).siblings().val(),
        "roleId":$(obj).val(),
        "roleName":  $(obj).val()==6?'成员':'管理员'
    }, function (data) {
        if (data.rtnCode == 200) {
            window.location.reload();
        } else {
            $.noti({
                title: "消息！",
                text: data.msg_zh,
                media: "<span  class=\"icon icon-80 f11\"></span>",
                time: 3000,
                onClick: function (data) {
                }
            });
            $(obj).val(7);
        }
    })
}
function getRootPath() {
    var pathName = window.location.pathname.substring(1);
    var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
    return window.location.protocol + '//' + window.location.host + '/' + webName + '/';
}
</script>
</html>