<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>金储智能</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--WEUI-->
    <link rel="stylesheet" th:href="@{../weui/css/weui.css}" />
    <link rel="stylesheet" th:href="@{../weui/css/weuix.css}" />
    <link rel="stylesheet" th:href="@{../style/animate.min.css}" />
</head>
<body  class="has-bj">
<div class="top-1" >
    <img src="../imgage/anzhuang.png" style="width: 60%">
</div>
<div  class="yijian ani bounceOut animated" style=" -webkit-animation-delay:2s" >
    <span  class="image32 ani  bounceIn animated"    style="visibility: visible;animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-delay:0.5s;-webkit-animation-delay:0.5s;"></span>
</div>
<div  class="mashang ani bounceOut animated" style=" -webkit-animation-delay:2s" >
    <span  class="image33 ani  bounceIn animated"    style="visibility: visible;animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-delay:0.5s;-webkit-animation-delay:0.5s;"></span>
</div>
<div  class=" ani  animated" style=" -webkit-animation-delay:2.5s;position: relative;top:10%;width: 33.33333333%;float:left;text-align: center" >
    <a href="javascript:;" ONCLICK="$S.appverLock(1,'您确定要申请安装智能门禁吗?')">
    <span  class="image34 ani  bounceIn animated"    style="visibility: visible;animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-delay:0.5s;-webkit-animation-delay:2.5s;"></span>
    </a>
</div>
<div  class=" ani  animated" style=" -webkit-animation-delay:3s;position: relative;top:10%;width: 33.33333333%;float:left;text-align: center" >
    <a href="javascript:;" ONCLICK="$S.appverLock(2,'您确定要申请安装智能挂锁吗?')">
    <span  class="image35 ani  bounceIn animated"    style="visibility: visible;animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-delay:0.5s;-webkit-animation-delay:3s;"></span>
    </a>
</div>
<div  class=" ani  animated" style=" -webkit-animation-delay:3.5s;position: relative;top:10%;width: 33.33333333%;float:left;text-align: center" >
    <a href="javascript:;" ONCLICK="$S.appverLock(3,'您确定要申请安装保险柜锁吗?')">
    <span  class="image36 ani  bounceIn animated"    style="visibility: visible;animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-delay:0.5s;-webkit-animation-delay:3.5s;"></span>
    </a>
</div>
<div  class=" ani  animated" style=" -webkit-animation-delay:4s;position: relative;top:15%;width: 33.33333333%;float:left;text-align: center" >
    <span  class="image37 ani  bounceIn animated"    style="visibility: visible;animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-delay:0.5s;-webkit-animation-delay:4s;"></span>
</div>
<div  class=" ani  animated" style=" -webkit-animation-delay:4.5s;position: relative;top:15%;width: 33.33333333%;float:left;text-align: center" >
    <span  class="image39 ani  bounceIn animated"    style="visibility: visible;animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-delay:0.5s;-webkit-animation-delay:4.5s;"></span>
</div>
<div  class=" ani  bounceOut animated" style=" -webkit-animation-delay:7.5s;position: relative;top:15%;width: 33.33333333%;float:left;text-align: center" >
    <span  class="image38 ani  bounceIn animated"    style="visibility: visible;animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-delay:0.5s;-webkit-animation-delay:5.5s;"></span>
</div>
<div style="position: absolute;top: 5px;" onclick="fan()">
    <span  class="image31 "></span>
</div>
</body>
<!--jquery-->
<script th:src="@{../js/jquery.min.js}"  ></script>
<script th:src="@{../weui/js/zepto.weui.js}"></script>
<script th:src="@{../js/locks.js}" ></script>
<script th:inline="javascript">
    $S.corpid=[[${corpid}]];
    $S.userid=[[${userid}]];
    function fan() {
        $S.setCookie("num","2");
        var url="/wx/v1/index";
        location.href=url;
    }
</script>
</html>